In [2]:
import pandas as pd

## Import and study the data

In [3]:
data = pd.read_csv('drug_consumption.csv')
data.replace(0.12600, 0.126001, inplace = True) #tips tranform to float, zero were rounded

In [4]:
data['etnicity'].describe()

count    1885.000000
mean       -0.309577
std         0.166226
min        -1.107020
25%        -0.316850
50%        -0.316850
75%        -0.316850
max         1.907250
Name: etnicity, dtype: float64

In [4]:
data['etnicity'].value_counts()

-0.316850    1720
 0.114400      63
-1.107020      33
-0.502120      26
 0.126001      20
-0.221660      20
 1.907250       3
Name: etnicity, dtype: int64

In [6]:
#how to solve the probelm with list comprehension
l = [1  if i == 0.126001 else 0 for i in data['etnicity']] 
#l

In [7]:
#create dictionary etnicity: value in the column
d = {'asian' : -0.50212, 'black_asian' : 1.90725, 'white_asian' : 0.126001,
     'white_black' : -0.22166, 'other' : 0.11440, 'white' : -0.31685, 
     'other2': -1.10702 }

## Write the function

In [11]:
 def create_dictionary(column_data, d):
    '''input : column_data = column of pandas dataframe  
                d = dictionary
                
        output : dictionary, keys: same keys of d  
                            value : list of 0 and 1 of lenght column_data, 1 if the the the value 
                                    of the dictionary appear in the line '''

    output = {}
    for etn in d:
        print(d[etn])
        output[etn] =  [1  if i == d[etn] else 0 for i in column_data]
    
    return output

In [12]:
def append_in_dataframe(data, dictionary):
    ''' input: data = pandas dataframe 
                dictionary = dictionary, keys: name of new column of the uotput  
                                        value : binary list (0,1) of lenght n = rows of dataframe
                                        
        output: pandas dataframe + (keys of d)_columns with the list as values'''
    
    new_data = data.copy()
    for new_column in dictionary:
        #print(new_column, dictionary[new_column])
        new_data[new_column] = dictionary[new_column]
        #print(new_data[new_column])
    return new_data

## Run function and save

In [13]:
d = {'asian' : -0.50212, 'black_asian' : 1.90725, 'white_asian' : 0.126001,
     'white_black' : -0.22166, 'other' : 0.11440, 'white' : -0.31685, 
     'other2': -1.10702 } 


dictionary = create_dictionary(data['etnicity'], d)
final_df = append_in_dataframe(data, dictionary)


#remove the 'etnicity' column
final_df = final_df.drop('etnicity', axis = 1).head()
final_df.head()

-0.50212
1.90725
0.126001
-0.22166
0.1144
-0.31685
-1.10702

,id_number,age,gender,education,country,n_score,e_score,o_score,a_score,c_score,...,nicotine,semer,vsa,asian,black_asian,white_asian,white_black,other,white,other2
0,1,0.49788,0.48246,-0.05921,0.96082,0.31287,-0.57545,-0.58331,-0.91699,-0.00665,...,2,0,0,0,0,1,0,0,0,0
1,2,-0.07854,-0.48246,1.98437,0.96082,-0.67825,1.93886,1.43533,0.76096,-0.14277,...,4,0,0,0,0,0,0,0,1,0
2,3,0.49788,-0.48246,-0.05921,0.96082,-0.46725,0.80523,-0.84732,-1.62090,-1.01450,...,0,0,0,0,0,0,0,0,1,0
3,4,-0.95197,0.48246,1.16365,0.96082,-0.14882,-0.80615,-0.01928,0.59042,0.58489,...,2,0,0,0,0,0,0,0,1,0
4,5,0.49788,0.48246,1.98437,0.96082,0.73545,-1.63340,-0.45174,-0.30172,1.30612,...,2,0,0,0,0,0,0,0,1,0

In [173]:
final_df.to_csv('data_etnicity.csv' ) #path wrong but windows fault

### more code for writing it

In [14]:
d = {'asian' : -0.50212, 'black_asian' : 1.90725, 'white_asian' : 0.12600,
     'white_black' : -0.22166, 'other' : 0.11440, 'white' : -0.31685 } 

for key in output:
    print(key)
output['white_asian']

NameError: name 'output' is not defined

In [15]:
output =create_list_of_list(data['etnicity'], d)
output['white_asian']

NameError: name 'create_list_of_list' is not defined

In [176]:
output =create_list_of_list(data['etnicity'], d)
output['asian']
data['asian'] = output['asian']

-0.50212
1.90725
0.126
-0.22166
0.1144
-0.31685