In [55]:
import pandas as pd
import os
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np
import seaborn as sns

In [7]:
#import data
data=pd.read_csv('./data_processed/data_dummy_variable_etnicity_country_gender.csv')
data.drop(columns= ['Unnamed: 0', 'id_number'],axis=1, inplace=True)
display(data)

,age,education,n_score,e_score,o_score,a_score,c_score,impulsiveness,ss,alcohol,...,white,other2,australia,canada,new_zealand,ireland,uk,usa,male,female
0,0.49788,-0.05921,0.31287,-0.57545,-0.58331,-0.91699,-0.00665,-0.21712,-1.18084,5,...,0,0,0,0,0,0,1,0,0,1
1,-0.07854,1.98437,-0.67825,1.93886,1.43533,0.76096,-0.14277,-0.71126,-0.21575,5,...,1,0,0,0,0,0,1,0,1,0
2,0.49788,-0.05921,-0.46725,0.80523,-0.84732,-1.62090,-1.01450,-1.37983,0.40148,6,...,1,0,0,0,0,0,1,0,1,0
3,-0.95197,1.16365,-0.14882,-0.80615,-0.01928,0.59042,0.58489,-1.37983,-1.18084,4,...,1,0,0,0,0,0,1,0,0,1
4,0.49788,1.98437,0.73545,-1.63340,-0.45174,-0.30172,1.30612,-0.21712,-0.21575,4,...,1,0,0,0,0,0,1,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1880,-0.95197,-0.61113,-1.19430,1.74091,1.88511,0.76096,-1.13788,0.88113,1.92173,5,...,1,0,0,0,0,0,0,1,0,1
1881,-0.95197,-0.61113,-0.24649,1.74091,0.58331,0.76096,-1.51840,0.88113,0.76540,5,...,1,0,0,0,0,0,0,1,1,0
1882,-0.07854,0.45468,1.13281,-1.37639,-1.27553,-1.77200,-1.38502,0.52975,-0.52593,4,...,1,0,0,0,0,0,0,1,0,1
1883,-0.95197,-0.61113,0.91093,-1.92173,0.29338,-1.62090,-2.57309,1.29221,1.22470,5,...,1,0,0,0,0,0,0,1,0,1
1884,-0.95197,-0.61113,-0.46725,2.12700,1.65653,1.11406,0.41594,0.88113,1.22470,4,...,1,0,0,0,0,1,0,0,1,0

In [8]:
##Strategy 
# 1. create a list of thresholds. Threshold= how often you need to consume a drug to be considered addicted. 1 threshold for every drug
# 2. Probably need to create column addicted for every drug
# 3. Define addicted or not:
#    for every drug for loop
#    if threshod>= consumption,
#    new column= 1
#    else=0
# 4. Probably create new column for addiction_depressants
# 5. Define addiction level
     # if sum of addiction columns >1 
    #new column = 2
    #if =1 , 1
    #else = 0

In [48]:
#1. list of depressants and thresholds - I chose them 
depressants= ['alcohol', 'benzo', 'cannabis', 'ketamine', 'heroine']
depressants_thresh =list(zip([depressants],[5, 4, 5, 4, 3]))

In [49]:
#2 and 3 -> create column for every drug + loop to define addiction to every drug

for sub, thresh in zip(['alcohol', 'benzo', 'cannabis', 'ketamine', 'heroine'],[6, 5, 6, 4, 4]):
    data[sub + "_addiction"] = [1 if i >= thresh else 0 for i in data[sub]]

In [50]:
#check if it works 

print(sum(data["alcohol_addiction"]))
print(sum(data["benzo_addiction"]))
print(sum(data["cannabis_addiction"]))
print(sum(data["ketamine_addiction"]))
print(sum(data["heroine_addiction"]))

505
179
463
79
53

In [51]:
#create column for depressants addicts 
depressant_add=["alcohol_addiction","benzo_addiction","cannabis_addiction","ketamine_addiction","heroine_addiction"]
data['depressant_addiction'] = data[depressant_add].sum(axis=1)

In [54]:
data

print(sum(data["depressant_addiction"]))

1279

In [ ]:
sns.displot(data, x="depressant_addiction")

In [60]:
data['depression_addiction_aggr']=[2 if i >1 else 1 if i==1 else 0 for i in data['depressant_addiction']]

data

,age,education,n_score,e_score,o_score,a_score,c_score,impulsiveness,ss,alcohol,...,male,female,alcohol_addiction,benzo_addiction,cannabis_addiction,ketamine_addiction,heroine_addiction,depressant_addict,depressant_addiction,depression_addiction_aggr
0,0.49788,-0.05921,0.31287,-0.57545,-0.58331,-0.91699,-0.00665,-0.21712,-1.18084,5,...,0,1,0,0,0,0,0,7,0,0
1,-0.07854,1.98437,-0.67825,1.93886,1.43533,0.76096,-0.14277,-0.71126,-0.21575,5,...,1,0,0,0,0,0,0,11,0,0
2,0.49788,-0.05921,-0.46725,0.80523,-0.84732,-1.62090,-1.01450,-1.37983,0.40148,6,...,1,0,1,0,0,0,0,9,1,1
3,-0.95197,1.16365,-0.14882,-0.80615,-0.01928,0.59042,0.58489,-1.37983,-1.18084,4,...,0,1,0,0,0,0,0,11,0,0
4,0.49788,1.98437,0.73545,-1.63340,-0.45174,-0.30172,1.30612,-0.21712,-0.21575,4,...,0,1,0,0,0,0,0,7,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1880,-0.95197,-0.61113,-1.19430,1.74091,1.88511,0.76096,-1.13788,0.88113,1.92173,5,...,0,1,0,0,0,0,0,10,0,0
1881,-0.95197,-0.61113,-0.24649,1.74091,0.58331,0.76096,-1.51840,0.88113,0.76540,5,...,1,0,0,0,0,0,0,8,0,0
1882,-0.07854,0.45468,1.13281,-1.37639,-1.27553,-1.77200,-1.38502,0.52975,-0.52593,4,...,0,1,0,1,1,0,0,17,2,2
1883,-0.95197,-0.61113,0.91093,-1.92173,0.29338,-1.62090,-2.57309,1.29221,1.22470,5,...,0,1,0,0,1,0,0,11,1,1
1884,-0.95197,-0.61113,-0.46725,2.12700,1.65653,1.11406,0.41594,0.88113,1.22470,4,...,1,0,0,0,0,0,0,10,0,0